/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Font configurations */
@font-face {
  font-family: 'KFOlCnqEu92Fr1MmEU9fBBc4';
  src: url('../public/KFOlCnqEu92Fr1MmEU9fBBc4.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KFOmCnqEu92Fr1Mu4mxK';
  src: url('../public/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'A34f9d1faa5f3315';
  src: url('../public/a34f9d1faa5f3315-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '02d3a08a6b5f7bc1';
  src: url('../public/02d3a08a6b5f7bc1-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Global styles */
body {
  margin: 0;
  width: "full";
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page1 .left h3{
    font-family: '02d3a08a6b5f7bc1';
}
.page1 .left h4{
  font-family: 'KFOlCnqEu92Fr1MmEU9fBBc4';
}
.footer .title h4{
  font-family: '02d3a08a6b5f7bc1';
}